head {
    background-image: url("https://i.pinimg.com/564x/48/80/80/4880801fe78824b8504784a55c5c3190.jpg");
    background-size: cover;
    background-attachment: fixed;
}
body {
    background-color: blanchedalmond;
    
}
h1 {
    font-family: "Unlock", serif;
    height: 200px;
    font-weight: 400;
    font-style: normal;
    color:rgb(173, 183, 156);
    font-size: 50px;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/0d/85/69/0d8569fe07a2947f3ef32a25c59e741f.jpg");
    background-size: cover;
    background-attachment: fixed;
}
p {
   
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: rgb(68, 68, 68);
}
img {
    width: 800px;
    border: 5px solid #ccc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
table {
    width: auto;
    border-collapse: collapse;
    width: 800px;
}
th, td {
    padding: 10px;
    border: 1px solid;

}
th {
    background-color: rgb(236, 230, 179);
    font-weight: bold;
    text-align: center;
    font-size: large;
}
.content-container {
    display: flex;
    gap: 20px; 
}
.column {
    flex: 1; 
    padding: 10px;
}



